/* Theme-Default css stylesheet */

body {
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    color: #eee;
}

h1,h2,h3,h4,h5,td,p { color:#ccc; }

a:link { color:#eee; }

a:hover,#header table td:first-of-type:hover { color:#0099ff !important;cursor:pointer; }

a:visited { color:#eee; }


#header {
	background: #222528 url("../img/background.png") repeat scroll 0% 0%;
	moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 10px -10px #000000;
}

#header a {
	text-shadow: rgba(0,0,0,.5) 0px 1px 0px;
}

#header a:hover {
	color: #0099ff;
	text-shadow: rgba(255,255,255,.5) 0px 1px 10px;
}

#header .title:hover {  color:rgb(204,204,204) !important; }

#link-menu,#user-menu,#room-menu {
	background: #222528 url("../img/background.png") repeat scroll 0% 0%;
}

#link-menu li a.selected {  border-bottom:2px solid #0099ff !important; }

#link-menu li.selected img {  border-left:3px solid #0099ff !important;}

#room-menu tr.selected td:first-of-type {  border-left:3px solid #0099ff !important;}

#room-menu tr.selected td:first-of-type { color:#0099ff !important; }

#link-menu, #user-menu, #room-menu {
	-moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 10px -10px #000000;
}

#link-menu .sortable:not(:first-child) {
    -moz-box-shadow: inset -10px 0px 10px -10px #000000;
    -webkit-box-shadow: inset -10px 0px 10px -10px #000000;
    box-shadow: inset -10px 0px 10px -10px #000000;
}

#link-menu .mobile li {
    -moz-box-shadow: inset -10px 0px 10px -10px #000000;
    -webkit-box-shadow: inset -10px 0px 10px -10px #000000;
    box-shadow: inset -10px 0px 10px -10px #000000;
}

#user-menu ul,#room-menu ul {
    -moz-box-shadow: inset 10px 0px 10px -10px #000000;
    -webkit-box-shadow: inset 10px 0px 10px -10px #000000;
    box-shadow: inset 10px 0px 10px -10px #000000;
}