/* Theme-Default css stylesheet */

body {
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    color: #eee;
}

h1,h2,h3,h4,h5,td,p { color:#ccc; }

a:link { color:#eee; }

a:hover { color:#0099ff !important; }

a:visited { color:#eee; }


#header {
	background: #222528 url("../img/background.png") repeat scroll 0% 0%;
	moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 10px -10px #000000;
}

#header a:hover {
	color: #0099ff;
	text-shadow: rgba(255,255,255,.5) 0px 1px 10px;
}

#header .title:hover {  color:rgb(204,204,204) !important; }

#link-menu {
	background: #222528 url("../img/background.png") repeat scroll 0% 0%;
}

#link-menu li a:active  {  color: #0099ff; }

#link-menu li a.selected {  border-bottom:2px solid #0099ff !important; }

#link-menu {
	-moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 10px -10px #000000;
}

#link-menu .sortable:not(:first-child) {
    -moz-box-shadow: inset -10px 0px 10px -10px #000000;
    -webkit-box-shadow: inset 0px -10px 10px -10px #000000;
    box-shadow: inset -10px 0px 10px -10px #000000;
}