<script src="js/controllers/dashboardCtrl.js"></script>
<div class="wrap dashboard" ng-controller="dashboardCtrl">
<div ng-show="spinnerCount" class="spinner"></div>
	<div id="header">
		<div id="user-menu" class="right">
			<img src="img/options.png" />
			<ul id="user-menu-ul" ng-include src="'partials/user-menu.html'">
			</ul>
		</div>
		<div id="room-menu">
			<ul class="room-menu-items">
				<!-- addon buttons -->
				<li ng-repeat="addon in room_addons_current[0][userdata.currentRoom]" ng-if="$index > 0 && addon.controlWindow == '1'">
					<a id="{{addon.addon + $index + 'L'}}"  
						class="main link persistent" 
						on-long-press="loadLinkLongPress(addon.addon + $index);" 
						ng-click="loadLink(addon.addon + $index);" 
						ng-class="{'selected': userdata.linkSelected==addon.addon + $index}"
						>
						<img ng-src="addons/{{addon.addontype + '.' + addon.addon}}/icon.png"  height="27px" width="27px" />
					</a>		
				</li>
				<li>
					<a id="{{'room' + userdata.currentRoom + 'L'}}" 
						class="main link persistent loaded" 
						on-long-press="loadLinkLongPress('room' + userdata.currentRoom);" 
						ng-click="loadLink('room' + userdata.currentRoom);" 
						ng-class="{'selected': userdata.linkSelected=='room' + userdata.currentRoom}"
						>
						<img src="img/control-panel.png"  height="27px" width="27px" />
					</a>
				</li>
				<li>
					<a ng-cloak class="ng-cloak title">{{rooms[0][userdata.currentRoom]['name']}}</a>
				</li>
			</ul>
			<ul id="room-menu-ul">
				<table>
					<tr ng-repeat="(room,roomArray) in rooms[0]" ng-class="{'selected': userdata.currentRoom==room}">
						<td ng-click="changeRoom(room)" class="addonTitle">{{roomArray.name}}</td>
						<td>
							<img ng-if="room_addons[0][room][0].allAddonsAlive==='0'" ng-click="powerOnRoom(room)" class="status pointer" src="img/led-red.png"/>
							<img ng-if="room_addons[0][room][0].allAddonsAlive==='1'" class="status" src="img/led-green.png"/>
						</td>

						<td ng-if="addon.info" ng-repeat="addon in room_addons[0][room].slice().reverse()">
							<a ng-click="showModal(addon)" ng-if="addon.info">{{addon.info}}</a><img ng-if="addon.infoType" class="infoType" ng-src="img/info-{{addon.infoType}}.png"/>
						</td>
					</tr>
				</table>
			</ul>
		</div>
		<div id="link-menu">
			<img src="img/3dots.png" ng-cloak ng-if="userdata.mobile==='1' && links[0].length != 0" style="float: left; height: 50px;" />
			<nav ng-cloak ng-if="userdata.mobile==='1' && links[0].length != 0" style="margin-top: 50px;">
				<ul class="mobile">
					<span ng-repeat="(linkgroup, linkgrouparray) in links[0]">
						<li id="{{thislink['navname']+'L'}}" class="main persistent" on-long-press="loadLinkLongPress(thislink['navname']);" ng-click="loadLink(thislink['navname']);" ng-class="{'selected': userdata.linkSelected==thislink.navname}" ng-repeat="thislink in linkgrouparray">
							<img ng-src="img/Programs/{{thislink['navname']}}.png" class="link" height="35px">
						</li>
					</span>
				</ul>
			</nav>		
			<nav ng-cloak ng-if="userdata.mobile==='0'">
				<ul class="sortable">
					<li id="{{linkgroup}}-group" class="sortable clear" ng-repeat="(linkgroup, linkgrouparray) in links[0]" ng-click="userdata.linkGroupSelected=linkgroup;linkReOrder(linkgroup,$index)">
						<a ng-cloak class="main panel persistent title" ng-hide="$last && $index=='0'">{{linkgroup}}</a>
						<a id="{{thislink['navname']+'L'}}" class="main link persistent" on-long-press="loadLinkLongPress(thislink['navname']);" ng-click="loadLink(thislink['navname']);" ng-class="{'selected': userdata.linkSelected==thislink.navname}" ng-repeat="thislink in linkgrouparray">
							<img ng-src="img/Programs/{{thislink['navname']}}.png" height="35px">
						</a>
					</li>	
				</ul>
			</nav>
		</div>
	</div>
	<div id="dashboardWrapper" scrolling="auto">
		<div id="dashboardMask">
			<span ng-repeat="(room,roomArray) in rooms[0]" ng-class="{'selected': userdata.currentRoom==room}">
				<div id="room{{room}}" class="dashboardPage RoomPage">
					<div class="content">
						<span class="col-12">
							<div class="addonTitle addonWidget">
							<img ng-if="room_addons[0][room][0].allAddonsAlive==='0'" ng-click="powerOnRoom(room)" class="status pointer" src="img/led-red.png"/>
							<img ng-if="room_addons[0][room][0].allAddonsAlive==='1'" class="status" src="img/led-green.png"/>
							{{roomArray.name}}
							<div class="right" style="margin:-5px;" ng-if="room_addons[0][room][1].addon">
								<button class="btn btn-danger right" ng-click="powerOffRoom(room)">All Off</button>
								<button class="btn btn-success right" style="margin:0 5px 0 0;" ng-click="powerOnRoom(room)">All On</button>
							</div>
							</div>
						</span>
						<span class="col-3" ng-repeat="addon in room_addons[0][room]" ng-if="$index > 0">
							<div class="addonWidget">
							<div>
								<div class="right" style="margin:-5px;">
									<button class="btn btn-danger right" ng-click="powerOffAddon(addon.rooms_addonsid)">Off</button>
									<button class="btn btn-success right" style="margin:0 5px 0 0;" ng-click="powerOnAddon(addon.rooms_addonsid)">On</button>
								</div>
								<img ng-if="addon.device_alive==='0'" ng-click="powerOnAddon(addon.rooms_addonsid)" class="status pointer left" src="img/led-red.png"/>
								<img ng-if="addon.device_alive==='1'" class="status left" src="img/led-green.png"/>								
								<p ng-if="addon.addonTitle !='' || addon.addonTitle !=null" class="left">{{addon.addonTitle}}</p>
								<p ng-if="addon.addonTitle =='' || addon.addonTitle ==null" class="left">{{addon.addon}}</p>
								<!--<br class="clear"><br>
									-->				
								<p class="clear">{{addon.addontype}}</p>
							</div>
							<img ng-if="addon.infoType && addon.info" class="infoType" ng-src="img/info-{{addon.infoType}}.png"/>
							<a ng-click="showModal(addon)" ng-if="addon.info">{{addon.info}}</a>
							<img class="fanart" ng-src="{{addon.thumbnail}}" ng-if="addon.thumbnail!='' && addon.infoType!='movie'" />
							<img class="fanart" ng-src="{{addon.fanart}}" ng-if="addon.fanart!='' && addon.infoType=='movie'" />
							</div>
						</span>
					</div>
				</div>
			</span>
			<span ng-repeat="(linkgroup, linkgrouparray) in links[0]">
				<div class="dashboardPage" ng-repeat="thislink in linkgrouparray">
					<div class="content">
						<iframe id="{{thislink['navname']}}" src="" data="{{thislink['navip'] | trustUrl }}" scrolling="auto" height="100%" width="100%"> Sorry your browser does not support frames or is currently not set to accept them.</iframe>
					</div>
				</div>
			</span>
			<span ng-repeat="addon in room_addons_current[0][userdata.currentRoom]" ng-if="$index > 0 && room_addons_current[0][userdata.currentRoom][$index]['controlWindow'] == '1'">
				<div class="dashboardPage">
					<div class="content">
						<iframe id="{{addon.addon+$index}}" src="" data="{{room_addons_current[0][userdata.currentRoom][$index]['ip'] | trustUrl}}" scrolling="no" height="100%" width="100%"> Sorry your browser does not support frames or is currently not set to accept them.</iframe>
					</div>
				</div>
			</span>			
		</div>
	</div>
	<div id="chatContainer" ng-class="{'open' : chatOpen == true}" class="transformable-horizontal" chat></div>
</div>