<!DOCTYPE html>
<div class="modal-body">
  <ul>
    <li>
      <span class="right">
        <span ng-show="(!$parent.Users || $parent.Users[initdata].userid == $parent.userdata.userid) && $parent.userdata.passwordv>0">
          <button type="button" ng-click="removePassword($parent.userdata.userid,$parent.userdata.userid);closeModal('Cancel');" class="btn btn-danger btn-sm">
            Remove Password
          </button>
        </span>
        <button
          type="button"
          ng-click="setPassword($parent.userdata.userid,password,currentPassword,$parent.userdata.userid);closeModal('Cancel');"
          class="btn btn-success btn-sm"
          ng-class="(password!='' && password==passwordConfirm) ? 'greenPulse' : ''"
          ng-disabled="(password=='' || password!=passwordConfirm)"
        >
          Set Password
        </button>
      </span>
      <span ng-if="$parent.Users[initdata].username" class="title main panel">Set Password for user: {{$parent.Users[initdata].username}}</span>
      <span ng-if="!$parent.Users" class="title main panel">Set Password:</span>
    </li>
  </ul>
</div>
<div class="modal-body">
  <span ng-show="(!$parent.Users || $parent.Users[initdata].userid == $parent.userdata.userid) && $parent.userdata.passwordv>0">
    Current Password:
    <input type="password" name="currentPassword" ng-model="$parent.currentPassword" required="required" />
    <br /><br /><br />
  </span>

  New Password:
  <input type="password" name="password" ng-model="$parent.password" required="required" />
  <br /><br />

  Confirm Password:
  <input type="password" name="password2" ng-model="$parent.passwordConfirm" required="required" />
  <br /><br />
</div>
