<script src="./js/controllers/settingsCtrl.js"></script>
<div ng-controller="settingsCtrl">
	<div ng-show="spinnerCount" class="spinner"></div>
	<div id="header">
		<a class="main link persistent loaded" 
			href="./#/dashboard"
			style="position:absolute;right:45px;top:10px;">
			<img src="img/control-panel.png"  height="30px" width="30px" />
		</a>
		<div id="user-menu" class="right">	
			<ul>
				<li>
					<span class="fa fa-bars fa-3x options" ></span>
					<ul id="user-menu-ul" ng-include src="'partials/user-menu.html'"></ul>
				</li>
			</ul>
		</div>		
		<div id="link-menu">
			<nav>
				<ul class="sortable">
					<li>
					<a ng-repeat="tab in tabs" 
						ng-class="{selected:isActiveTab(tab.url)}" 
						class="main panel persistent" 
						ng-cloak
						ng-click="onClickTab(tab)"><div>{{tab.title}}</div></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div id="dashboardWrapper" class="settings">
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
	</div>
	<div ng-if="loaded==1 && chatOpen == true" id="chatContainer" ng-class="{'open' : chatOpen == true}" class="transformable-horizontal" chat></div>
</div>