<!doctype html>
<html lang="en" ng-app="ControlCenter">
	<head>
		<meta charset="utf-8">
		<title>ControlCenter</title>
		<!--
		<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=medium-dpi, user-scalable=no, minimal-ui' />
		-->
		<meta name='viewport' content='width=device-width,height:window-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=auto' />
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="icon" sizes="192x192" href="icon-hirez.png">
		<link rel="icon" sizes="128x128" href="icon-lowrez.png">
		<meta name='apple-mobile-web-app-capable' content='yes' />		
		<meta name="apple-mobile-web-app-title" content="ControlCenter">
		<link rel="apple-touch-icon" href="icon-lowrez-58.png">
		<link rel="apple-touch-startup-image" href="startup-image-320x460.png">
		<!--
		see http://stackoverflow.com/a/15533693
		<link rel="apple-touch-icon" sizes="192x192" href="icon-hirez.png">
		<link rel="apple-touch-icon" sizes="128x128" href="icon-lowrez.png">
		-->
		
		
		<link rel="icon" type="image/png" href="favicon.ico?v=4">  
		<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
		<link rel="stylesheet" href="css/app.css"/>
		<link rel="stylesheet" href="css/theme-default.css"/>
		<link rel="stylesheet" href="css/angular-inform.css"/>
		<link rel="stylesheet" href="css/font-awesome.min.css"/>
		<script src="lib/js/jquery.min.js"></script>
		<script src="lib/js/hammer.min.js"></script>
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/js/Chart.min.js"></script>
	</head>
	<body>
		<div ng-view id="windowContainer" class="windowContainer"></div>
		
		<script id="login.tpl" type="text/ng-template">
			<div ng-cloak ng-show="spinnerCount" class="spinner"></div>
			<div id="loginTiles">
				<br />
				<div ng-cloak ng-if="users.length!=0">
					<h2 class="w50 left txtright">Control Center</h2>
					<h2 class="w50 right txtleft">User Selection</h2>
					<br /><br /><br />
					<div ng-repeat="thisuser in users" class="loginTile" id="user{{thisuser.userid}}">
						<input id="inputName{{thisuser.userid}}" name="username" value="{{thisuser.username}}" ng-model="thisuser.name" ng-if="thisuser.passwordset=='0'" type="hidden">
						<input id="inputPass{{thisuser.userid}}" name="userpass" value="none" ng-model="thisuser.pass" ng-if="thisuser.passwordset=='0'" type="hidden">
						<div id="login{{thisuser.userid}}" ng-if="thisuser.passwordset=='1'" data-ng-click="toggleLockedLogin.user = thisuser.userid" class="lockedLogin transformable-vertical" data-ng-class="{'open' : toggleLockedLogin.user == thisuser.userid}">
							<form role="form" name="login_form{{thisuser.userid}}" class="userpick">
								<br><br><br>
								<table id="{{thisuser.userid}}">
									<tbody><tr>
										<td colspan="2" align="center" height="25"><h2 class="orange">Account Locked</h2></td>
										</tr><tr>
										<td>&nbsp;<span class="orange">{{loginMsg}}</span>
										<input id="inputName" name="username" value="{{thisuser.username}}" ng-model="thisuser.name" type="hidden">
										</td>
										</tr><tr>
										<td align="center"><input type="password" placeholder="Password" id="InputPassword{{thisuser.userid}}" class="form-control" ng-model="thisuser.pass" required></td>
										</tr><tr>
										<td colspan="2" align="center">&nbsp;</td>
										</tr><tr>
										<td colspan="2" align="center"><button class="btn btn-default" type="submit" ng-click="login(thisuser)" ng-disabled="login_form{{thisuser.userid}}.$invalid">Log In</button></td>
										</tr><tr>
										<td>
									</tbody>
								</table>
							</form>
							<span class="text">{{thisuser.username}}</span>
						</div>
						<div style="height: 40px;" id="login{{thisuser.userid}}" ng-if="thisuser.passwordset=='0'">		
							<span class="text">{{thisuser.username}}</span>
						</div>
						<img ng-src="img/Users/user{{thisuser.userid}}.jpg" class="image" ng-if="thisuser.passwordset=='0' && thisuser.avatar=='1'" ng-click="login(thisuser)">
						<img ng-src="img/Users/user{{thisuser.userid}}.jpg" class="image" ng-if="thisuser.passwordset=='1' && thisuser.avatar=='1'" data-ng-click="toggleLockedLogin.user = thisuser.userid">
						<img ng-src="img/Users/user-default.jpg" class="image" ng-if="thisuser.passwordset=='0' && thisuser.avatar=='0'" ng-click="login(thisuser)">
						<img ng-src="img/Users/user-default.jpg" class="image" ng-if="thisuser.passwordset=='1' && thisuser.avatar=='0'" data-ng-click="toggleLockedLogin.user = thisuser.userid">
					</div>
				</div>
				<div ng-cloak ng-if="users.length===0 && loaded>0 && usersError===0">
					<h2 class="w50 left txtright">Control Center</h2>
					<h2 class="w50 right txtleft">First Run Setup</h2>
					<br /><br /><br />
					<a href="#/servercheck" class="btn btn-large btn-success">Start First Run</a>		
				</div>
				<div ng-cloak ng-if="users.length===0 && loaded>0 && usersError===1">
					<h2 class="w50 left txtright">Control Center:</h2>
					<h2 class="w50 right txtleft">No Server Connection</h2>
					<br /><br /><br />
					<a ng-click="getUsersCheck()" class="btn btn-large btn-danger">Retry Server Connection</a>		
				</div>				
			</div>
		</script>
		
		<div class="inform-fixed-bottom inform-shadow inform-animate" inform></div>
		
		<script src="lib/angular/angular-route.min.js"></script>
		<script src="lib/angular/angular-resource.min.js"></script>
		<script src="lib/angular/angular-scrollto.js"></script>
		<script src="lib/angular/angular-animate.min.js"></script>
		<script src="lib/angular/angular-inform.min.js"></script>
		<script src="lib/angular/angular-idle.min.js"></script>
		<script src="lib/angular/angular-model.min.js"></script>
		<script src="lib/angular/angular-modal-service.js"></script>
		<script src="lib/angular/angular-ngDraggable.js"></script>
		<script src="lib/angular/angular-fullscreen.js"></script>
		<script src="lib/angular/angular-carousel.js"></script>
		<script src="lib/angular/angular-chart.min.js"></script>

		<script src="js/app.js"></script>

		<script src="js/directives/loginDrc.js"></script>

		<script src="js/controllers/loginCtrl.js"></script>

		<script src="js/services/loginService.js"></script>
		<script src="js/services/sessionService.js"></script>
		<script src="js/services/spinnerService.js"></script>
		<script src="js/services/filterService.js"></script>			
	</body>
</html>
