<!DOCTYPE html>
<table style="margin: 0px 10px 5px">
  <tr>
    <!-- eslint-disable-next-line @html-eslint/require-li-container -->
    <td><li></li></td>
    <td>
      <li ng-click="showModal(userdata.userid,'userpref')">
        <a ng-cloak class="title">{{userdata.username}}</a>
        <img ng-if="userdata.avatar==='0'" ng-src="img/Users/user-default.jpg" class="userProfileRound" />
        <img ng-if="userdata.avatar==='1'" ng-src="img/Users/user{{userdata.userid}}.jpg" class="userProfileRound" />
      </li>
      <li ng-click="showModal(userdata.userid,'userpref')">
        <a>Preferences <span class="fa fa-id-card-o"></span></a>
      </li>
      <li ng-if="userdata.settingsAccess==='1' || userdata.currentpage==='settings'">
        <a ng-if="userdata.currentpage==='dashboard'" href="./#/settings">Settings <span ng-if="userdata.currentpage==='dashboard'" class="fa fa-cog"></span></a>
        <a ng-if="userdata.currentpage==='settings'" href="./#/dashboard" class="orange"
          >Dashboard <span ng-if="userdata.currentpage==='settings'" class="fa fa-tachometer"></span
        ></a>
      </li>
      <!--
			<li><a href="" ng-click="testmessage()">testmessage</a></li>
			-->
      <li>
        <a href="" ng-click="$parent.chatOpen = $parent.chatOpen ? false : true">Chat <span class="fa fa-comments-o"></span></a>
      </li>
      <li>
        <a href="" ng-if="FullscreenSupported" ng-click="toggleFullscreen()">Fullscreen <span class="fa fa-arrows-alt"></span></a>
      </li>
      <li>&nbsp;</li>
      <li>
        <a href="" ng-click="logout()">Logout <span class="fa fa-sign-out"></span></a>
      </li>
    </td>
  </tr>
</table>
