<!DOCTYPE html>
<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="header">
        <ul>
          <li>
            <span class="right">
              <button
                type="button"
                ng-click="saveNavigation($parent.Navigation[initdata]);closeModal('close');"
                class="btn btn-success btn-sm"
                ng-class="navChanged > 0 ? 'greenPulse' : ''"
                ng-disabled="navChanged < 1"
              >
                Save Navigation
              </button>
              <button type="button" ng-click="cancelChanges(currentTab);closeModal('close');" class="btn btn-warning btn-sm">Cancel Changes</button>
              <span class="margin:0 15px;">&nbsp;</span>
              <button type="button" ng-click="confirmDelete = !confirmDelete;" class="btn btn-danger btn-sm">DELETE Navigation</button>
              <span class="margin:0 15px;">&nbsp;</span>
              <button type="button" class="btn btn-danger close" ng-click="closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            </span>
            <a class="title main panel">Navigation Settings</a>
          </li>
        </ul>
      </div>
      <div ng-show="confirmDelete" class="transformable-vertical" style="top: 50px; position: relative; margin: 0 auto; width: 350px">
        <span class="center">
          <h1>This action is final</h1>
          <button type="button" ng-click="deleteNavigation($parent.Navigation[initdata]);closeModal('close');" class="btn btn-danger btn-sm left">Confirm Delete</button>

          <button type="button" ng-click="confirmDelete = false;" class="btn btn-warning btn-sm right">Cancel Navigation Delete</button>
        </span>
        <br class="clear" />
      </div>
      <div class="modal-body">
        <div>
          Name:
          <input type="text" ng-model="$parent.Navigation[initdata].navname" required="required" ng-change="navChangedAdd()" />
          <br /><br />

          IP:
          <input type="text" ng-model="$parent.Navigation[initdata].navip" required="required" ng-change="navChangedAdd()" />
          <br /><br />

          MobileIP:
          <input type="text" ng-model="$parent.Navigation[initdata].mobile" ng-change="navChangedAdd()" />
          <br /><br />

          persistent:
          <select ng-model="$parent.Navigation[initdata].persistent" ng-change="navChangedAdd()">
            <option value="1" ng-selected="$parent.Navigation[initdata].persistent==1">Yes</option>
            <option value="0" ng-selected="$parent.Navigation[initdata].persistent!=1">No</option>
          </select>
          <br /><br />

          autorefresh:
          <select ng-model="$parent.Navigation[initdata].autorefresh" ng-change="navChangedAdd()">
            <option value="1" ng-selected="$parent.Navigation[initdata].autorefresh==1">Yes</option>
            <option value="0" ng-selected="$parent.Navigation[initdata].autorefresh!=1">No</option>
          </select>
          <br /><br />

          Global Disable:
          <select ng-model="$parent.Navigation[initdata].globalDisable" ng-change="navChangedAdd()">
            <option value="1" ng-selected="$parent.Navigation[initdata].globalDisable==1">Yes</option>
            <option value="0" ng-selected="$parent.Navigation[initdata].globalDisable!=1">No</option>
          </select>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
  <div ng-click="closeModal('close')" class="modal-backdrop fade in"></div>
</div>
