<div id="loginTiles">
	<br />
	<h2 class="w50 left txtright">Control Center</h2>
	<h2 class="w50 right txtleft">User Selection</h2>
	<br /><br /><br />
	<div ng-repeat="thisuser in users" class="loginTile" id="user{{thisuser.userid}}" data-ng-click="toggleLockedLogin.user = $index">
		<input id="inputName{{thisuser.userid}}" name="username" value="{{thisuser.username}}" ng-model="thisuser.name" ng-if="thisuser.passwordset=='0'" type="hidden">
		<input id="inputPass{{thisuser.userid}}" name="userpass" value="none" ng-model="thisuser.pass" ng-if="thisuser.passwordset=='0'" type="hidden">
		<div id="login{{thisuser.userid}}" ng-if="thisuser.passwordset=='1'" class="lockedLogin transformable-vertical" data-ng-class="{'open' : toggleLockedLogin.user == $index}" ng-mouseleave="closeLockedTile(toggleLockedLogin)">
			<form role="form" name="login_form{{thisuser.userid}}" class="userpick">
				<br><br><br>
				<table id="{{thisuser.userid}}">
					<tbody><tr>
						<td colspan="2" align="center" height="25"><h2 class="orange">Account Locked</h2></td>
						</tr><tr>
						<td>&nbsp;<span class="orange">{{loginMsg}}</span>
						<input id="inputName" name="username" value="{{thisuser.username}}" ng-model="thisuser.name" type="hidden">
						</td>
						</tr><tr>
						<td align="center"><input type="password" placeholder="Password" id="InputPassword{{thisuser.userid}}" class="form-control" ng-model="thisuser.pass" required></td>
						</tr><tr>
						<td colspan="2" align="center">&nbsp;</td>
						</tr><tr>
						<td colspan="2" align="center"><button class="btn btn-default" type="submit" ng-click="login(thisuser)" ng-disabled="login_form{{thisuser.userid}}.$invalid">Submit</button></td>
						</tr><tr>
						<td>
					</tbody>
				</table>
			</form>
			<span class="text">{{thisuser.username}}</span>
		</div>
		<div style="height: 40px;" id="login{{thisuser.userid}}" ng-if="thisuser.passwordset=='0'">		
			<span class="text">{{thisuser.username}}</span>
		</div>
		<img ng-src="img/Users/user{{thisuser.userid}}.jpg" class="image" ng-if="thisuser.passwordset=='0' && thisuser.avatar=='1'" ng-click="login(thisuser)">
		<img ng-src="img/Users/user{{thisuser.userid}}.jpg" class="image" ng-if="thisuser.passwordset=='1' && thisuser.avatar=='1'">
		<img ng-src="img/Users/user-default.jpg" class="image" ng-if="thisuser.passwordset=='0' && thisuser.avatar=='0'" ng-click="login(thisuser)">
		<img ng-src="img/Users/user-default.jpg" class="image" ng-if="thisuser.passwordset=='1' && thisuser.avatar=='0'">
	</div>
</div>