<div class="modal fade in">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="header">
			<ul><li>
				<button type="button" class="btn close right" ng-click="closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
				<a class="title main panel">{{modalContent[0]['title']}}</a>
			</li></ul>
		  </div>
		  <div class="modal-body">
			<div ng-if="modalContent[0]['addonType']=='mediaplayer'">
				<div class="col-7">
					<div class="right col-6" style="padding:5px;">
						<p ng-if="modalContent[0]['tagline']">{{modalContent[0]['tagline']}}</p>
						<p ng-if="modalContent[0]['runtime']">Runtime: {{modalContent[0]['runtime']}}</p>
						<p ng-if="modalContent[0]['year']">Year: {{modalContent[0]['year']}}</p>
						<p ng-if="modalContent[0]['firstaired']">First Aired: {{modalContent[0]['firstaired']}}</p>
						<p ng-if="modalContent[0]['genre']">Genre: {{modalContent[0]['genre']}}</p>
						<p ng-if="modalContent[0]['plot']">Plot: {{modalContent[0]['plot']}}</p>
					</div>
					<img class="left col-6" ng-if="modalContent[0]['type']=='episode'" ng-src="{{modalContent[0]['images']['poster']}}"></img>
					<img class="left col-6" ng-if="modalContent[0]['type']!='episode'" ng-src="{{modalContent[0]['images']['thumb']}}"></img>
				</div>
				<div class="left col-5">
					<img class="left col-12" ng-if="modalContent[0]['type']=='episode'" ng-src="{{modalContent[0]['images']['thumb']}}"></img>
					<img class="left col-12" ng-if="modalContent[0]['type']!='episode'" ng-src="{{modalContent[0]['images']['fanart']}}"></img>
					<img class="left col-12" ng-src="{{modalContent[0]['images']['banner']}}"></img>
				</div>
				<br class="clear" />
				<img class="left col-6" ng-src="{{modalContent[0]['images']['landscape']}}"></img>
				<img class="left col-3" ng-src="{{modalContent[0]['images']['discart']}}"></img>
				<img class="left col-6" ng-src="{{modalContent[0]['images']['clearlogo']}}"></img>
				<img class="right col-6" ng-if="modalContent[0]['type']=='episode'" ng-src="{{modalContent[0]['images']['fanart']}}"></img>
				<br class="clear" />
				<br><br>
			</div>
		  </div>
		</div>
	</div>
	<div ng-click="closeModal('close')" class="modal-backdrop fade in"></div>
</div>