<div class="modal fade in">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="header">
			<ul><li>
				<button type="button" class="btn btn-danger close right" ng-click="closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
				<a class="title main panel">User Preferences</a>
			</li></ul>
		  </div>
		  <div class="modal-body">
		  
			
		
		
			<br /><br />
		
			<div ng-include src="'partials/setPassword.html'"></div>
			
			
			
			
		  </div>
		</div>
	</div>
	<div ng-click="closeModal('close')" class="modal-backdrop fade in"></div>
</div>
