<div class="modal fade in">
	<div class="modal-dialog">
		<div class="modal-content">
		  <div class="header">
			<ul><li>
				<button type="button" class="btn close right" ng-click="closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
				<a class="title main panel">{{modalContent[0]['title']}}</a>
			</li></ul>
		  </div>
		  <div class="modal-body">
			<div ng-if="modalContent[0]['addonType']=='mediaplayer'">
				<div class="col-6">
					<div ng-if="modalContent[0]['time']['playerpercentage']>0" class="timebar left"><div class="elapsed" style="width:{{modalContent[0]['time']['playerpercentage']}}%"></div></div>
					<span ng-if="modalContent[0].time.timenow" class="left">Now: {{modalContent[0].time.timenow}}</span><span  ng-if="modalContent[0].time.endtime"  class="right">Ending: {{modalContent[0].time.endtime}}</span>
					<br />
					<p ng-if="modalContent[0]['tagline']">{{modalContent[0]['tagline']}}</p>
					<p ng-if="modalContent[0]['runtime']">Runtime: {{modalContent[0]['runtime']}}</p>
					<p ng-if="modalContent[0]['year']">Year: {{modalContent[0]['year']}}</p>
					<p ng-if="modalContent[0]['firstaired']">First Aired: {{modalContent[0]['firstaired']}}</p>
					<p ng-if="modalContent[0]['genre']">Genre: {{modalContent[0]['genre']}}</p>
					<p ng-if="modalContent[0]['plot']">Plot: {{modalContent[0]['plot']}}</p>
				</div>
				<div class="right col-5">
					<img class="left col-12" ng-if="modalContent[0]['type']=='episode'" ng-src="{{modalContent[0]['images']['thumb']}}"></img>
					<img class="left col-12" ng-if="modalContent[0]['type']!='episode'" ng-src="{{modalContent[0]['fanart']}}"></img>
					<img class="left col-12" ng-src="{{modalContent[0]['images']['banner']}}"></img>
				</div>

				<img class="left col-3" ng-src="{{modalContent[0]['images']['discart']}}"></img>
				<img class="left col-6" ng-src="{{modalContent[0]['images']['clearlogo']}}"></img>
				<br class="clear" />
				<br class="clear" />
				
				<div class="col-3">
					<!--cleanup below in addon file to standardize-->
					<img class="left col-12" ng-if="modalContent[0]['type']=='episode'" ng-src="{{modalContent[0]['images']['poster']}}"></img>
					<img class="left col-12" ng-if="modalContent[0]['type']!='episode'" ng-src="{{modalContent[0]['images']['thumb']}}"></img>
				</div>
				
				<div class="col-9">
					<div ng-if="modalContent[0]['images']['fanart']" ng-carousel ng-carousel-name="fanart-carousel" ng-carousel-timer="10000">
						<slidecontainer>
							<slide ng-if="modalContent[0]['images']['landscape']">
								<img ng-src="{{modalContent[0]['images']['landscape']}}">
							</slide>
							<slide ng-repeat="fanart in modalContent[0]['images']['fanart']">
								<img ng-src="{{fanart}}">
							</slide>
						</slidecontainer>
						<div class="carousel-arrow carousel-arrow-left" ng-click="Carousel.get('fanart-carousel').previous()"><span><</span></div>
						<div class="carousel-arrow carousel-arrow-right" ng-click="Carousel.get('fanart-carousel').next()"><span>></span></div>	
					</div>
				</div>
				
				<br class="clear" />
				<br class="clear" />
				
				<div class="col-12">
					<div ng-if="modalContent[0]['cast'][0]" class="imageslider nowrap">
						<div ng-repeat="cast in modalContent[0]['cast']" class="col-2 floatnone" style="display:inline-block;">
							<p class="title">{{cast.name}} <br /> <span class="subtitle">as {{cast.role}}</span></p>
							<img ng-src="{{cast.thumbnail}}">
						</div>
					</div>
				</div>
				<br class="clear" />
				<br><br>
			</div>
		  </div>
		</div>
	</div>
	<div ng-click="closeModal('close')" class="modal-backdrop fade in"></div>
</div>