<div class="modal fade in">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="header">
				<ul><li>
					<span class="right">
						<button type="button" class="btn btn-danger close" ng-click="cancelChanges(currentTab);closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
					</span>
					<a class="title main panel">Set Password for user: {{$parent.Users[initdata].username}}</a>
				</li></ul>
			</div>
			<div class="modal-body">
				<div ng-include src="'partials/setPassword.html'"></div>
			</div>
		</div>
	</div>
	<div ng-click="closeModal('close')" class="modal-backdrop fade in"></div>
</div>
