<div id="Users">
	<div class="dashboardPage">
		<div class="content">
			<span class="col-12">
				<div class="addonTitle widget">
					<button type="button" ng-click="question(Users)" class="btn btn-primary btn-sm"><i class="fa fa-question" aria-hidden="true"></i></button>
					<button type="button" ng-click="addUser()" class="btn btn-success btn-sm"><i class="fa fa-user-plus" aria-hidden="true"></i> New User</button>
					<button type="button" ng-click="getAllUsers()" class="btn btn-primary btn-sm right"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh Users</button>
				</div>
			</span>		
			<span class="col-3" ng-repeat="user in Users">
				<div class="widget settings" ng-class="{disabled: user.disabled==1}">
					<div>
						<img ng-if="systemInfo[0]['lastcrontime'] && user.lastaccess<(systemInfo[0]['lastcrontime']-360)" title="User Offline" class="status left" src="img/led-red.png"/>
						<img ng-if="systemInfo[0]['lastcrontime'] && user.lastaccess<(systemInfo[0]['lastcrontime']-60) && user.lastaccess>(systemInfo[0]['lastcrontime']-361)" title="User Away" class="status left" src="img/led-orange.png"/>
						<img ng-if="systemInfo[0]['lastcrontime'] && user.lastaccess>(systemInfo[0]['lastcrontime']-61)" title="User Online" class="status left" src="img/led-green.png"/>						
						<button class="btn btn-primary right" ng-click="editUser(user.userid)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
						<h2 class="center">{{user.username}}</h2>
					</div>
					<br class="clear" />
					
					<p ng-if="user.settingsAccess!=1"><i class="fa fa-square-o"></i> Settings Access</p>
					<p ng-if="user.settingsAccess==1"><i class="fa fa-check-square-o"></i> Settings Access</p>
					
					
					<p ng-if="user.homeRoom!=0 && user.homeRoom!='' && user.homeRoom!=null">{{Rooms[user.homeRoom].roomName}}: Home Room</p>
					<p ng-if="user.homeRoom==0 || user.homeRoom=='' || user.homeRoom==null">None: Home Room</p>
					
					
					<p ng-if="user.roomAccess!=0 && user.roomAccess!=null">{{user.roomAccess.length}}: Rooms with Access</p>
					<p ng-if="user.roomAccess==0 || user.roomAccess==null">0: Rooms with Access</p>
					
					
					<p ng-if="user.navgroupaccess.length>0">{{user.navgroupaccess.length}}: NavGroup Access</p>
					<p ng-if="!user.navgroupaccess">0: NavGroup Access</p>
					
					
					<p ng-if="user.lastaccess>0">Last Online: {{user.lastaccess*1000 | date : "medium"}}</p>
					<p ng-if="user.lastaccess==0 || user.lastaccess==null">Last Online: Never</p>					
					
					
					<button ng-if="user.passwordv>0" class="btn btn-success" ng-click="setPasswordModal(user.userid)"><i class="fa fa-lock" aria-hidden="true"></i> Change Password</button>
					<button ng-if="user.passwordv==0" class="btn btn-warning" ng-click="setPasswordModal(user.userid)"><i class="fa fa-unlock" aria-hidden="true"></i> Set Password</button>
					<br class="clear" /><br />
				</div>
			</span>
		</div>
	</div>
	
	
	<br /><br /><br /><br /><br />

	
	
	
<!--
  <div class="panel panel-default">
	<br><br>
	  <div class="panel-heading"><span class="lead">List of Users </span></div>
		<div class="row">
			<div class="right">
				<button type="button" ng-click="addUser()" class="btn btn-primary btn-sm">Add User</button>
				<button type="button" ng-click="cancelChanges(currentTab)" class="btn btn-warning btn-sm" ng-disabled="usersChanged < 1">Cancel Changes</button>
				<button type="button" ng-click="saveUsers(Users)" class="btn btn-success btn-sm" ng-class="usersChanged > 0 ? 'greenPulse' : ''" ng-disabled="usersChanged < 1">Save Users</button>
			</div>
		</div>
	  <div class="tablecontainer">
		<table class="table table-hover widget settings">
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>Name</th>
					<th>wanAccess</th>
					<th>settingsAccess</th>
					<th>navgroupaccess</th>
					<th>roomAccess</th>
					<th>homeRoom</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="u in Users">
					<td><button type="button" ng-click="deleteUser(u.userid)" class="btn btn-danger custom-width">X</button></td>
					<td><span ng-bind="u.userid"></span></td>
					<td><input type="text" ng-model="u.username" required='required'  ng-change="usersChangedAdd()"/></td>
					<td><select ng-model="u.wanAccess" ng-change="usersChangedAdd()">
						<option value="1" ng-selected="u.wanAccess==1">Yes</option>
						<option value="0" ng-selected="u.wanAccess!=1">No</option>
					</select></td>					
					<td><select ng-model="u.settingsAccess" ng-change="usersChangedAdd()">
						<option value="1" ng-selected="u.settingsAccess==1">Yes</option>
						<option value="0" ng-selected="u.settingsAccess!=1">No</option>
					</select></td>						
					
					<td><select ng-model="u.navgroupaccess" ng-change="usersChangedAdd()">				
					<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
					</select></td>
					
					
					<td><select multiple ng-model="u.roomAccess" ng-change="usersChangedAdd()">
						<option ng-repeat="room in Rooms"
						ng-if="room.roomId > 0"
						value="{{room.roomId}}"
						>
							{{room.roomName}}
						</option>					
					</select></td>
					

					
					
					
					<td><select ng-model="u.homeRoom" ng-change="usersChangedAdd()">
						<option ng-repeat="room in Rooms"
								ng-if="room.roomId > 0"
								value="{{room.roomId}}"
								>
							{{room.roomName}}
						</option>
					</select></td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
	-->




</div>