<div id="Users">
  <div class="panel panel-default loginTiles">
	<br><br>
	  <div class="panel-heading"><span class="lead">List of Users </span></div>
		<div class="row">
			<div class="right">
				<button type="button" ng-click="addUser()" class="btn btn-primary btn-sm">Add User</button>
				<button type="button" ng-click="saveUsers(Users)" class="btn btn-success btn-sm" ng-class="usersChanged > 0 ? 'greenPulse' : ''">Save Users</button>
			</div>
		</div>
	  <div class="tablecontainer">
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>Name</th>
					<th>password</th>
					<th>wanAccess</th>
					<th>settingsAccess</th>
					<th>navgroupaccess</th>
					<th>roomAccess</th>
					<th>roomGroupAccess</th>
					<th>homeRoom</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="u in Users">
					<td><button type="button" ng-click="deleteUser(u.userid)" class="btn btn-danger custom-width">X</button></td>
					<td><span ng-bind="u.userid"></span></td>
					<td><input type="text" ng-model="u.username" required='required' /></td>
					<td><input type="password" ng-model="u.password" /></td>
					<td><select ng-model="u.wanAccess">
					<option value="1" ng-selected="u.wanAccess==1">Yes</option><option value="0" ng-selected="u.wanAccess!=1">No</option>
					</select></td>					
					<td><select ng-model="u.settingsAccess">
					<option value="1" ng-selected="u.settingsAccess==1">Yes</option><option value="0" ng-selected="u.settingsAccess!=1">No</option>
					</select></td>						
					
					<td><select ng-model="u.navgroupaccess">
					<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
					</select></td>
					<td><select ng-model="u.roomAccess">
					<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
					</select></td>
					<td><select ng-model="u.roomGroupAccess">
					<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
					</select></td>
					<td><select ng-model="u.homeRoom">
					<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
					</select></td>							
				</tr>
			</tbody>
		</table>
	  </div>
	</div>



</div>