<div id="Rooms">
	<div class="dashboardPage">
		<div class="content">
			<span class="col-12">
				<div class="addonTitle widget">
					<button type="button" ng-click="question(Rooms)" class="btn btn-primary btn-sm"><i class="fa fa-question" aria-hidden="true"></i></button>
					<button type="button" ng-click="addRoom()" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> New Room</button>
					<button type="button" ng-click="getRooms()" class="btn btn-primary btn-sm right"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh Rooms</button>
				</div>
			</span>
			<span class="col-3 right">
				<div class="widget settings noPadding">
					<table class="right">
						<tr><td class="addonTitle">
							Room Menu 
							<button type="button" ng-click="saveRooms()" class="btn btn-success btn-sm" ng-class="roomsChanged > 0 ? 'greenPulse' : ''" ng-disabled="roomsChanged < 1">Save Order</button>
						</td></tr>
						<tr><td>
							Full Name | Mobile Name | Order Weight
						</td></tr>
						<tr ng-repeat="r in Rooms | orderObjectBy:'roomOrder':false" ng-if="r.roomId!='groups'">
							<td class="addonTitle right">{{r.roomName}} | {{r.roomName | abvTitle}} | 
								<i class="fa fa-arrow-circle-down pointer" ng-click="roomMenuOrderChange('down',r.roomId);roomsChangedAdd();" aria-hidden="true"></i>
								<span ng-if="r.roomOrder>0">-{{r.roomOrder}}</span>
								<span ng-if="r.roomOrder<1">{{r.roomOrder | positive}}</span>
								<i class="fa fa-arrow-circle-up pointer" ng-click="roomMenuOrderChange('up',r.roomId);roomsChangedAdd();" aria-hidden="true"></i>
							</td>
						</tr>
					</table>
				</div>
			</span>
			
			</span>
			<span class="col-2" ng-repeat="r in Rooms"  ng-if="r.roomId!='groups'">
				<div class="widget settings">
					<div>
						<button class="btn btn-primary right" ng-click="editRoom(r.roomId)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
						<h2 class="left textRound">{{r.roomName | abvTitle}}</h2>
						<br class="clear" /><br />
						<h2 class="center">{{r.roomName}}</h2>
					</div>

				</div>
			</span>
		
		
		</div>
	</div>
</div>